# Load nvm
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"

# Use Node version from .nvmrc
if [ -f .nvmrc ]; then
    nvm install "$(cat .nvmrc)" >/dev/null 2>&1
    nvm use "$(cat .nvmrc)" >/dev/null 2>&1
fi